.button-container {
  > .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
  }
  > .small {
    width: 93.71px;
    height: 26.62px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 0 22px;
  }
}
